* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #040C18, #07162b);
    letter-spacing: 1px;
}

a {
    color: unset;
    text-decoration: none;
}