.banner{
    position: relative;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 50vh;

}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top,white, rgba(black, 0));
}