.mainNavBar {
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    padding: 50px 50px
}

.mainNavBar img {
    height: 3rem;
    cursor: pointer;
}

.mainNavBar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}

.mainNavBar-links p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.5rem;
    cursor: pointer;
    transition: opacity 0.2 ease;
}

.mainNavBar-links p:hover {
    opacity: 0.8;
}

.mainNavBar__icon {
    margin: 0rem 1rem;
    cursor: pointer;
}

.mainNavBar__login__btn {
    padding: 0.5rem 2rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.mainNavBar__login {
    display: flex;
    align-items: center;
}

.mainNavBar__login p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.5rem;
    cursor: pointer;
}

.mainNavBar__login__btn:hover {
    box-shadow: 1px 1px 15px #FF4820
}

.mainNavBar__login__btn--register {
    background: #FF4820;
    border-radius: 20px;
}