.booking-form__container {
    margin-top: 8rem;
}

.booking-form__container__select {
    width: 100%;
    height: 8rem;
    display: flex
}

.booking-form__container__select__date {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.booking-form__container__select__date__title {
    line-height: 100%;
    font-size: 0.8rem;
    font-weight: bold;
}

.booking-form__container__select__date__swiper {
    height: 100%;
    width: 60%;
    margin: 1rem;
}

.booking-form__container__select__time {
    width: 25%;
    height: 100%;
}

.booking-form__container__select__time__title {
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
}

.booking-form__container__select__time__swiper {
    height: 50%;
    width: 100%;
}

.booking-form__container__select__theater {
    width: 35%;
    height: 100%;
}

.booking-form__container__select__theater__title {
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.booking-form__container__select__theater__picker {}

.booking-form__container__check {
    height: 3rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
}

.showdate-item-container {
    height: 100%;
}

.date-item__container {
    height: 10rem;
    width: '100px';
    color: black;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.date-item__container__content {
    padding: 0.5rem;
    background-color: rgb(6, 20, 53);
    width: 6rem;
}

.date-item__container__content_red {
    padding: 0.5rem;
    background-color: rgb(3, 11, 29);
    width: 6rem;
}

.date-item__container__content_red div {
    color: red;
}

.date-item__container__content__day {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.623);
    text-transform: uppercase;
}

.date-item__container__content__date {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.3rem
}

.date-item__container__content__month {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.623);
}

.date-item__container__content__year {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.623);
}

.showtime-item-container {
    height: 70%;
}

.time-item-container {
    height: 100%;
}

.time-item__container {
    height: 10rem;
    width: 100px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.time-item__container__content {
    padding-top: 1rem;
    background-color: rgb(6, 20, 53);
    width: 7rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.time-item__container__content_red {
    padding-top: 1rem;
    background-color: rgb(3, 11, 29);
    width: 7rem;
    height: 4rem;
    color: red;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.time-item__container__content_red div {
    color: red;
}

.showtime-item-container__require {
    padding: 1rem;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    font-style: italic;
    color: rgb(126, 126, 126);
    font-weight: bold;
}

.theater-item__container {
    height: 5rem;
    width: 14rem;
    color: black;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theater-item__container__content {
    padding-top: 1rem;
    background-color: rgb(6, 20, 53);
    width: 14rem;
    height: 5rem;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.theater-item__container__content__address {
    font-size: 0.6rem;
}

.theater-item__container__content_red {
    padding-top: 1rem;
    background-color: rgb(3, 11, 29);
    width: 14rem;
    height: 5rem;
    color: red;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.theater-item__container__content__address_red {
    color: red;
    font-size: 0.6rem;
}

.theater-item__container__content__name_red {
    color: red;
}


/* .theater-item__container__content__name_red
.theater-item__container__content__address_red */