.navbar {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    padding: 45px 70px
}

.navbar-links {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.navbar-links p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.5rem;
    cursor: pointer;
    transition: opacity 0.2 ease;
}

.navbar-links img {
    height: 35px;
    width: 35px;
}

.navbar-links p :hover {
    opacity: 0.8;
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 650px) {
    .navbar {
        display: none;
    }
}